:root {
  --border: 4px;
  --gap: 1.5rem;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --primary-color: #222;
  --secondary-color: #fff;
  /* --tertiary-color: */
  /* --accent-color */

  /* Font Size Reset - UTOPIA FYI */

  --fonts-size--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --fonts-size--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --fonts-size-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --fonts-size-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --fonts-size-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --fonts-size-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --fonts-size-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --fonts-size-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.logo {
  font-size: var(--fonts-size-1);
}
/* 
cursors
*/

.cursor {
  position: absolute;
  z-index: 120;
  padding: 0.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff;
  transition: 0.0001s;
  pointer-events: none;
}

.cursor-round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 0.7rem;
  border-radius: 50%;
  transition: 0.05s;
  background-color: orangered;
  opacity: 0.5;
  transition: 0.0001s;
  pointer-events: none;
}

.cursor-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 1.5rem;
  border-radius: 50%;
  border: 1px solid #999;
  transition: 0.05s;
  opacity: 0.7;
  transition: 0.0001s;
  pointer-events: none;
}
.card:hover {
  cursor: pointer;
}
.feature-card:hover {
  cursor: pointer;
}
.latest-card:hover {
  cursor: pointer;
}
i,
a {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 65px 1fr 120px;
  min-height: 100vh;
  gap: 3px;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
@keyframes animateCursor-round {
  0% {
    transform: rotate;
  }
}
@keyframes animateCursor {
  0% {
    transform: rotate(0deg), translate(-50%, -50%);
    padding: 1.7rem;
    border: 2px dashed orange;
  }
  50% {
    transform: rotate(180deg), translate(-50%, -50%);
    border-radius: 1px dashed orange;
    padding: 1.4rem;
  }
  100% {
    transform: rotate(0deg), translate(-50%, -50%);
    border-radius: 2px dashed orange;
    padding: 1.7rem;
  }
}
.container > * {
  padding: 1.5rem;
}
.nav-toggle {
  font-size: var(--fonts-size-2);
}
.header {
  grid-column: span 12;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}
.main {
  grid-column: span 12;
}
.cards {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-auto-rows: 50vh;
}

.cta {
  font-size: var(--fonts-size-2);
}

.card {
  border-radius: var(--border);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.video-toggle .pause {
  display: block;
}
.video-toggle .play {
  display: none;
}
.video-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  background-color: #111;
  right: 12px;
  z-index: 100;
  bottom: 12px;
  border-radius: 50%;
  color: #fff;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.video-toggle i {
  font-size: var(--fonts-size-4);
}
.video-toggle:hover {
  opacity: 1;
  color: gold;
}
video {
  border-radius: var(--border);
  filter: grayscale(0.6);
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
}
.cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.cta {
  font-weight: 700;
  color: inherit;
  letter-spacing: -1px;
  margin-right: var(--gap);
  font-size: var(--fonts-size-4);
}
.cta-container i {
  font-size: var(--fonts-size-5);
  transition: 0.3s ease-in-out;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: center;
  background-position: center;
}
.cta-container:hover i {
  transform: translateX(12px);
}
.gold {
  background-color: gold;
}

img {
  filter: grayscale(0.3);
  transition: 0.3s ease-in-out;
}
img:hover {
  filter: grayscale(0.1);
}
.feature-card {
  position: relative;
  transition: 0.3s ease-in-out;
}
.feature-card:hover {
  transform: translateY(-1px);
}
.feature-card:active {
  transform: translateY(0px);
}
.feature-card img {
  height: 100%;
  border-radius: var(--border);
  overflow: hidden;
}
.feature-card-description {
  position: absolute;
  right: 5%;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.feature-card-description h2 {
  color: #fff;
}
.feature-card-description > * {
  padding-bottom: 1rem;
}
.feature-card a {
  padding: 0.5rem 1rem;
  font-size: var(--fonts-size--1);
  background-color: #fff;
  border-radius: 20px;
}
.subtitle {
  padding: 1.5rem 0.5rem;
  margin: 1.5rem 0;
  font-weight: 400;
  color: #333;
  background-color: #eee;
  border-radius: 5px;
}
.footer {
  grid-column: 1/-1;
}
.top {
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  background-color: gold;
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 20px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  display: none;
}
.visible {
  display: block;
}
.top i {
  font-size: var(--fonts-size-2);
  transition: 0.3s ease-in-out;
}
.header--right {
  position: relative;
}
.nav-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  right: 0;
  z-index: 100;
  background-color: #fff;
  border-radius: var(--border);
  border: 1px solid #333;
  border-bottom: 2px solid #333;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  display: none;
}
.nav-links a {
  transition: 0.2s ease-in-out;
}
.nav-links > ul * {
  padding: 0.7rem 0;
  border-radius: var(--border);
}

.nav-links a:hover {
  border-bottom: 2px solid #333;
}
.top:hover i,
.top:active i {
  animation: animateY 2s infinite ease-in-out;
}

.latest-card {
  position: relative;
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.latest-card:hover {
  transform: translateY(-1px);
}
.latest-card h3 {
  font-weight: 400;
}
.latest-card img {
  border-radius: var(--border);
  overflow: hidden;
}
.price {
  font-weight: 700;
  color: #444;
}

.new {
  color: #222;
  position: absolute;
  left: 7px;
  top: 7px;
  font-size: var(--fonts-size--2);
  background-color: gold;
  padding: 0.2rem 0.7rem;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
}
.hot {
  color: #fff;
  position: absolute;
  left: 7px;
  top: 7px;
  font-size: var(--fonts-size--2);
  background-color: rgb(255, 53, 53);
  padding: 0.2rem 0.7rem;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
}
.card-description {
  display: flex;
  position: absolute;
  bottom: 8px;
  left: 7px;
  align-items: baseline;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.footer {
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.footer-cards {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-card > * {
  min-width: 0;
}
.footer-card > h4 {
  margin-bottom: 1rem;
}
.footer-card > .title {
  margin-bottom: 1rem;
}
.footer-card > p {
  font-size: var(--fonts-size--2);
  margin-bottom: 0.5rem;
  color: #333;
}
.footer-card strong {
  margin-bottom: 1rem;
}
.footer-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-card h4 {
  font-size: var(--fonts-size-0);
}
.footer-card .title {
  font-size: var(--fonts-size-0);
  font-weight: 500;
}
.footer-card a {
  font-size: var(--fonts-size--1);
  color: #333;
  transition: 0.3s ease-in-out;
}
.footer-card a:hover {
  color: #222;
  text-decoration: underline;
}
.contacts i {
  padding: 0.3rem;
  border-radius: 50%;
  border: 1px solid #333;
  color: #333;
}
.contacts i:hover {
  background-color: #333;
  color: gold;
}
.copyright {
  padding: 0.5rem;
  grid-column: 1/-1;
  margin-left: auto;
  color: #333;
}
.copyright p {
  font-size: var(--fonts-size--1);
}

.footer-card a:hover {
  color: #222;
}
@media all and (max-width: 500px) {
  .footer.cards > * {
    margin-bottom: 1.5rem;
  }
}
@keyframes animateY {
  0% {
    transform: translateY(1.3px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(1.3px);
  }
}
